#mainSection{
    height: 950px;
    background-color:rgb(247, 204, 188);
    margin-top: 20px;
  }
  #firstsec{
    height: 360px;
  }
  #firstsecpara{
    font-size: 90px;
    
    color: rgba(103, 27, 25, 0.664);
    margin-top: 50px;
    margin-left: 350px;
    position: absolute;
  }
  #secondsec{
    height: 360px;
    display: flex;
  }
  .corners{
    height: 380px;
    width: 415px;
    
    margin-left: 1px;
    border-radius: 40px;
  }
  #textpara1{
   text-align: center;
   font-size: xx-large;
  }
  #textpara2{
    text-align: center;
   font-size: xx-large;
  }