#menscategories{
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}
.mensMakeup{
    height: 90px;
    width: 100px;
   border: none;
    margin-left: 8px;
    text-align: center;
    background-color: white;
}
.span{
    height: 40px;
    width: 34px;
    font-size:small;
   margin-left: 10px;
   line-height: 14px;
   }