#grocery{
    height: 300px;
}
#groceryPara{
    height: 50px;
    font-size: x-large;
    margin-left: 10px;
  }
#groceryBoxes{
    display: flex;
    height: 200px;
    margin-top: 10px;
}
.groceryBox1{
    height: 200px;
    width: 300px;
    margin-left: 16px;
   
    border-radius: 35px;
  }
  .groceryBox{
    height: 200px;
    width: 200px;
    margin-left: 18px;
    
    border-radius: 35px;
  }