#newinstore{
    height: 280px;
  }
  #storepara{
    height: 50px;
    font-size: x-large;
    margin-left: 10px;
  }
  #storeboxes{
    display: flex;
    height: 200px;
    margin-top: 10px;
    
  }
  .storebox1{
    height: 200px;
    width: 300px;
    margin-left: 10px;
    background-color: brown;
    border-radius: 35px;
  }
  .storebox{
    height: 200px;
    width: 200px;
    margin-left: 10px;
    background-color: brown;
    border-radius: 35px;
  
  }