.producttab{
  
  width: 900px;
  
  height: 400px;
  margin-bottom: 20px;
  display: flex;
}

.product {
  height: 400px;
  width: 200px;
  margin-left: 10px;
  
}


#pricepara {
  word-spacing: 15px;
}
#pricespan {
  text-decoration: line-through;
}
