.producttab{
  background-color: aqua;
  width: 900px;
  margin: auto;
  height: 400px;
  margin-bottom: 20px;
}

.product {
  height: 400px;
  width: 200px;
  margin-left: 10px;
}


#pricepara {
  word-spacing: 15px;
}
#pricespan {
  text-decoration: line-through;
}
