.ExploreProductList{
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
   }
   .productList{
    width: 190px;
    height: 400px;
    margin-left: 6px;
   
   }
   