#facumakeupBox{
    height: 400px;
    
   width:100%;
   display: flex;
}
.button1{
    
    height: 400px;
    width: 200px;
    margin-left: 10px;
   
}

#imgid{
    
    height:180px;
    width:163px;
   border: 1px solid rgba(11, 1, 1, 0.091);
   border-radius: 30px;
}
#buynowbtn{
    padding: 10px;
    width: 200px;
    border-color: rgb(245, 6, 74);
    color:  rgb(245, 6, 74);
}
#pricepara{
    word-spacing:15px ;
}
#pricespan{
    text-decoration: line-through;
}