.overallData {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.datalist{
    display: flex;
    flex-direction: column;
    width: 1000px;

}
.categoryDataDiv{
    margin-top: 50px;
    height: 400px;
    position: absolute;
    
   
}
.categoryData {
    width: 150px;
    display: flex;
    height: 50px;
  
}

.subCategoryData {
    width: 1000px; 
    margin-left: 150px;
    display: flex;
    justify-content: space-between; 
    height: auto; 
}

.actualproducts {
    height: auto; 
    position: relative;
    width: 200px; 
   
   
}
